
/* Navbar starts here */

body{
    background-color:rgba(250, 235, 215, 0.1) /* Full opacity (100%) */
    ;

    margin: 0;
    
}

/* header{
    width: 1000px;
    margin: 0 auto;
} */
.nav-bar{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-center ul{
    display: flex;
    gap: 50px;
}

.nav-center ul li{
    list-style-type: none;
}
input{
   padding-right: 20px;
   border: none;
   padding: 10px;
}

button{
    padding: 8px;
    border-radius: 10px;
    background-color: white;
    border-color: aliceblue;
}

.email, .vertical-bar{
    font-size: 30px;
}

.hamberger-menu ul{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hamberger-menu{
    display: none;
}

.hamberger-menu ul span{
    width: 20px;
    height: 3px;
    background-color: black;
   
}

/* navbar responsive */

@media screen and (max-width:576px) {
    .nav-bar{
        width: 100%;

    }

    .hamberger-menu{
        display: block;
    }

    .nav-center{
        display: none;
    }

    .nav-end{
        display: none;
    }
}

/* Banner section starts here */
.banner-section{
   
    width: 1000px;
    margin: 100px auto;
}
.banner-section .div-1{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    background-color:rgba(245, 221, 196, 1); padding-right: 10px;
    padding-left: 10px;
    border-radius: 40px;
   
}

.banner-section .div-1 img{
  border-radius: 50%;
}

.btn-primary{
   background-color: #EFAB68;
   padding: 16px;
   border: none;
   color: white;
   font-size: 20px;
}

.play-button{
    font-size: 40px;
    color: #EFAB68;
}


.flexs{
    display: flex;
    align-items: center;
    gap: 20px;
}


.banner-section .flexible-banner .div-2{
    width: 45%;
}

.banner-section .div-2 h1{
    font-size: 50px;
}

.image-cards .card-1, .card-2, .card-3 , .card-4{
 
  width: 200px;
 
  text-align: center;
  line-height: 0.5;
  box-shadow: 10px 20px 25px 0 rgba(0,0,0, 0.1);
  border-radius: 20px;
  padding: 20px;
}

.image-cards .card-1 img, .card-2 img, .card-3 img, .card-4 img{
   
    width: 150px;
    height: 100px;
}

 .primary-color{
    color: #EFAB68;;
}

.grid-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.flexible-banner{
    display: flex;
    align-items: center;
}

/* Banner section responsive */

@media screen and (max-width:576px) {
   .banner-section{
    width: 100%;
 
    flex-direction: column;
   
   } 

   .flexible-banner{
    width: 100%;
    flex-direction: column;
 
   }
   .grid-cards{
    grid-template-columns: repeat(1,1fr);
 
   }

   

    .banner-section .flexible-banner .div-2{
    width: 100%;
   
   }

   .banner-section .div-1{
    margin-bottom: 100px;
   }
}
